* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  
  .footer {
    color: white;
    margin-top: 20px;
    font-size: 14px;
    background: #0f1111;
  }
  
  .footerBottomToTop {
    background: #232f3e;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .footerBottomToTop p {
    padding: 10px;
  }
  
  .footerBottomToTop:hover {
    cursor: pointer;
    background: #000;
  }
  
  .footerVerticalRow {
    display: table;
    padding-bottom: 40px;
    margin: 10px auto;
  }
  
  .footerVerticalColumn {
    display: table-cell;
    line-height: 18px;
    padding: 0 70px;
  }
  
  .footerVerticalColumnHead {
    font-size: 18px;
    margin: 6px 0 30px 0;
    white-space: nowrap;
    font-weight: 700;
  }
  
  .footerVerticalColumn ul {
    margin: 0;
    padding: 0;
  }
  
  .footerVerticalColumn ul li {
    cursor: pointer;
  }
  
  /* .footerLast {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  } */
  
  /* .footerMessage {
    align-items: center;
    font-size: 120%;
    display: flex;
    padding-top: 50px;
  } */
  .lie{
    text-decoration: none;
    color: white;
  }
  
  @media (max-width: 600px) {
    .footerVerticalRow {
      display: flex;
      flex-direction: column;
    }
  }
  
  li{
    margin-top: 5px;
  }