body {
    margin: 0;
    font-family: "Almarai", sans-serif;
  }
  .m-0 {
    margin: 0;
  }
  .p-0 {
    padding: 0;
  }
  /* .font {
    font-family: "Almarai", sans-serif;
    background-color: #f9f9f9;
  } */
  
  .allCard {
    position: relative;
    height: 130px;
    width: 130px;
  }
  .categoty-card {
    height: 140px;
    width: 100%;
    border-radius: 50%;
    opacity: 0.3;
  }
  
  .categoty-card-img {
    max-width: 110px;
    max-height: 100px;
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .categoty-card-text {
    color: #555550;
    font-family: Almarai;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  /* products card style */
  
  .card-title {
    color: #555550;
    font-family: Almarai;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .card-price {
    color: #272727;
    font-family: Almarai;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
  }
  .card-currency {
    color: #555550;
    font-family: Almarai;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .card-rate {
    font-family: Almarai;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
  }
  /* end of card style */
  .shopping-now {
    padding: 5px;
    height: 35px;
    width: 90px;
    color: #272727;
    text-decoration: none;
    text-align: center;
    border: 1px solid #272727;
    border-radius: 14px;
  }
  
  .shopping-now:hover {
    background-color: #272727;
    border: 1px solid #272727;
    color: #f9f9f9;
    border-radius: 14px;
    cursor: pointer;
  }
  
  /* discount setion */
  .discount-backcolor {
    height: 130px;
    border-radius: 8px;
    background: radial-gradient(circle, #767676 0%, #4d4f50 100%, #494c4d 100%);
  }
  .discount-title {
    color: #ffffff;
    font-family: Cairo;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 39px;
  }
  .dicount-img {
    max-height: 130px;
    max-width: 80%;
  }
  
  
  /* admin style  */
  .sidebar {
    height: 660px;
    width: 100%;
    border-radius: 21px;
    background-color: #ffffff;
  }
  
  .admin-side-text {
    color: #272727;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
    /* width: 100%; */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-side-text:hover {
    background-color: #272727;
    color: white;
    font-size: 14px;
  }

  .pro-text{
    color: #555550;
    font-weight: 800;

  }
  .admin-content-text {
    color: #555550;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }
  .item-delete-edit {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
    cursor: pointer;
  }
  
  .text-form {
    color: #979797;
    font-family: "Almarai";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
  }
  .input-form {
    height: 37px;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .input-form-area {
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .select {
    box-sizing: border-box;
    height: 40px;
    color: #979797;
    width: 100%;
    border: 1px solid #979797;
    border-radius: 8px;
  }
  .btn-save {
    border: none;
    color: white;
    height: 46px;
    width: 150px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-save:hover {
    color: rgb(164, 164, 164);
  }
  .btn-a {
    border: none;
    color: white;
    height: 45px;
    border-radius: 9px;
    background-color: #272727;
  }
  .btn-a:hover {
    color: rgb(164, 164, 164);
  }
  /* end admin  */
  
  /* rates  */
  
  .rate-container {
    height: 100%;
    width: 100%;
    padding-bottom: 12px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  .rate-count {
    color: #979797;
    font-family: "Almarai";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 23px;
  }
  .rate-name {
    color: #555550;
    font-family: "Almarai";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
  }
  .rate-description {
    color: #555550;
    font-family: "Almarai";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
  }
  /* end rate */
  
  /* user order */
  .user-order {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  .order-title {
    color: #272727;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: bold;
  }
  
  .stat {
    color: #979797;
    font-family: Cairo;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
  }
  /* end user order */
  
  /* user Address */
  
  .user-address-card {
    height: 151px;
    width: 100%;
    border-radius: 7px;
  
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  .btn-add-address {
    border: none;
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 9px;
    background-color: #272727;
  }
  
  /* user address */
  
  /* user card data */
  .user-data {
    /* height: 270px; */
    width: 100% i !important;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  /* end user data */
  
  /* filter side style */
  .filter-title {
    color: #555550;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
  }
  .filter-sub {
    color: #555550;
    font-family: "Almarai";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
  }
  /* end filter */
  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  
  
  /* .dropdown-toggle {
    color: white !important;
    font-size: 16px !important;
    font-weight: bold  !important;
    margin-top: 14px;
  } */
  /* .dropdown-menu {
    background-color: #212529 !important;
    color: white !important;
  }
  .dropdown-item {
    color: white !important;
    text-align: center !important;
  }
  .dropdown-item:hover {
    color: #212529 !important;
    background-color: white !important;
  } */
  
  /* .badge {
    font-size: 12px !important;
  font-weight: bold !important;
  } */

  /* products details page */
.product-gallary-card {
  height: 470px !important;
  width: 370px;
  border-radius: 29px;
  background-color: #ffffff;
}

.cat-text {
  color: #979797;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px; 
  text-align: right;
}

.cat-title {
  color: #555550;
  font-size: 14px;
  font-weight: normal;
}

.cat-rate {
  font-size: 14px;
  font-weight: bold;
}

.barnd-text {
  color: #555550;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.color {
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.product-description {
  color: #555550;
  font-family: Cairo;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  text-align: right;
}
.product-price {
  height: 46px;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  color: #555550;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
}

.product-cart-add {
  cursor: pointer;
  text-align: center;
  height: 45px;
  border-radius: 9px;
  border: none;
  background-color: #272727;
  color: #ffffff;
  font-family: "Almarai";
  font-size: 14px;
  font-weight: normal;
}
.product-cart-add:hover {
  color: #bdbaba !important;
}

.del-text{
  color: #E52c2c !important;

}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.seller-text{
  background-color: #272727;
  color: #f9f9f9;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}