* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  max-width: 1500px;
  margin: 0 auto;
}

.bannerSliderContainer {
  width: 100%;
  margin: 0 auto;
  height: 0vh;
  /* height: 40vh; */
  position: relative;
  border-radius: 0.5rem;
}

.bannerSlide {
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
  transition: 0.2s ease-in-out all;
  text-align: center;
}

.bannerImg {
  width: 100%;
  height: 600px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
  margin-bottom: -300px;
  transition: 0 all ease-in-out;
}

.flo{
  height: 300px;
}
